/* line 34, ../../themes/default/scss/bootstrap_config/custom/_mixins.scss */
.clearfix {
  *zoom: 1;
}
/* line 24, ../../themes/default/scss/bootstrap_config/custom/_mixins.scss */
.clearfix:before, .clearfix:after {
  display: table;
  content: "";
}
/* line 29, ../../themes/default/scss/bootstrap_config/custom/_mixins.scss */
.clearfix:after {
  clear: both;
}

/* line 135, ../../themes/default/scss/bootstrap_config/custom/_mixins.scss */
.hide-text {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}

/* line 316, ../../themes/default/scss/bootstrap_config/custom/_mixins.scss */
.input-block-level {
  display: block;
  width: 100%;
  min-height: 28px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

/* CSS3 Two Tone borders - IE9+ */
/* Fix for responsive images - use on IMG tag */
/* Mobile icons for retina display */
/** 
 * Mixin divides width of parent between children. It requires the parent to 
 * have a size class representing the number of children (eg: class="size_3"). 
 * It will take this and divide the width by that number of elements.
 *
 * Note: In silverstripe templates you can use $Count on a set of items you 
 * are about to loop throught to get the total number. EG:
 * <ul class="size_{$Menu.Count}">
 */
/* line 13, ../../themes/module_bootstrap/lib/_buttons.scss */
.btn {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  padding: 4px 10px 4px;
  margin-bottom: 0;
  font-size: 16px;
  line-height: 24px;
  *line-height: 20px;
  color: #333;
  text-align: center;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
  vertical-align: middle;
  cursor: pointer;
  background-color: #f9f9f9;
  background-image: -ms-linear-gradient(top, #fff, #f2f2f2);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fff), to(#f2f2f2));
  background-image: -webkit-linear-gradient(top, #fff, #f2f2f2);
  background-image: -o-linear-gradient(top, #fff, #f2f2f2);
  background-image: -moz-linear-gradient(top, #fff, #f2f2f2);
  background-image: linear-gradient(top, #fff, #f2f2f2);
  background-repeat: repeat-x;
  border-color: #f2f2f2 #f2f2f2 #cccccc;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  *background-color: #f2f2f2;
  /* Darken IE7 buttons by default so they stand out more given they won't have borders */
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
  border: 1px solid #ccc;
  *border: 0;
  border-bottom-color: #b3b3b3;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  *margin-left: .3em;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
}
/* line 397, ../../themes/default/scss/bootstrap_config/custom/_mixins.scss */
#IE8 .btn {
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFFFF', endColorstr='#FFF2F2F2', GradientType=0);
}
/* line 479, ../../themes/default/scss/bootstrap_config/custom/_mixins.scss */
.btn:hover, .comments-holder-container .commenting-rss-feed .action-links a:hover, .comment-action-links a:hover, .btn:active, .btn.active, .btn.disabled, .btn[disabled] {
  background-color: #f2f2f2;
  *background-color: #e6e6e6;
}
/* line 485, ../../themes/default/scss/bootstrap_config/custom/_mixins.scss */
.btn:active, .btn.active {
  background-color: #d9d9d9 \9;
}
/* line 81, ../../themes/default/scss/bootstrap_config/custom/_mixins.scss */
.btn:first-child {
  *margin-left: 0;
}
/* line 34, ../../themes/module_bootstrap/lib/_buttons.scss */
.btn:visited {
  color: #333 !important;
}

/* line 40, ../../themes/module_bootstrap/lib/_buttons.scss */
.btn:hover, .comments-holder-container .commenting-rss-feed .action-links a:hover, .comment-action-links a:hover {
  color: #333;
  text-decoration: none;
  background-color: #e6e6e6;
  *background-color: #d9d9d9;
  /* Buttons in IE7 don't get borders, so darken on hover */
  background-position: 0 -15px;
  -webkit-transition: background-position 0.1s linear;
  -moz-transition: background-position 0.1s linear;
  -ms-transition: background-position 0.1s linear;
  -o-transition: background-position 0.1s linear;
  transition: background-position 0.1s linear;
}

/* line 53, ../../themes/module_bootstrap/lib/_buttons.scss */
.btn:focus {
  outline: thin dotted #333;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

/* line 58, ../../themes/module_bootstrap/lib/_buttons.scss */
.btn.active,
.btn:active {
  background-color: #e6e6e6;
  background-color: #d9d9d9 \9;
  background-image: none;
  outline: 0;
  -webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
}

/* line 69, ../../themes/module_bootstrap/lib/_buttons.scss */
.btn.disabled,
.btn[disabled] {
  cursor: default;
  background-color: #e6e6e6;
  background-image: none;
  opacity: 0.65;
  filter: alpha(opacity=65);
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

/* line 83, ../../themes/module_bootstrap/lib/_buttons.scss */
.btn-large {
  padding: 9px 14px;
  font-size: 18px;
  line-height: normal;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

/* line 89, ../../themes/module_bootstrap/lib/_buttons.scss */
.btn-large [class^="icon-"] {
  margin-top: 1px;
}

/* line 94, ../../themes/module_bootstrap/lib/_buttons.scss */
.btn-small, .comments-holder-container .commenting-rss-feed .action-links a, .comment-reply-link, .comment-action-links a {
  padding: 5px 9px;
  font-size: 14px;
  line-height: 22px;
}

/* line 99, ../../themes/module_bootstrap/lib/_buttons.scss */
.btn-small [class^="icon-"], .comments-holder-container .commenting-rss-feed .action-links a [class^="icon-"], .comment-reply-link [class^="icon-"], .comment-action-links a [class^="icon-"] {
  margin-top: -1px;
}

/* line 104, ../../themes/module_bootstrap/lib/_buttons.scss */
.btn-mini {
  padding: 2px 6px;
  font-size: 14px;
  line-height: 20px;
}

/* line 116, ../../themes/module_bootstrap/lib/_buttons.scss */
.btn-primary, .comment-reply-link,
.btn-primary:hover,
.comment-reply-link:hover,
.btn-warning,
.comment-action-links a.spam,
.btn-warning:hover,
.comment-action-links a.spam:hover,
.btn-danger,
.comment-action-links a.delete,
.btn-danger:hover,
.comment-action-links a.delete:hover,
.btn-success,
.comment-action-links a.approve,
.btn-success:hover,
.comment-action-links a.approve:hover,
.btn-info,
.comment-action-links a.ham,
.btn-info:hover,
.comment-action-links a.ham:hover,
.btn-inverse,
.btn-inverse:hover {
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}
/* line 130, ../../themes/module_bootstrap/lib/_buttons.scss */
.btn-primary:visited, .comment-reply-link:visited,
.btn-primary:hover:visited,
.comment-reply-link:hover:visited,
.btn-warning:visited,
.comment-action-links a.spam:visited,
.btn-warning:hover:visited,
.comment-action-links a.spam:hover:visited,
.btn-danger:visited,
.comment-action-links a.delete:visited,
.btn-danger:hover:visited,
.comment-action-links a.delete:hover:visited,
.btn-success:visited,
.comment-action-links a.approve:visited,
.btn-success:hover:visited,
.comment-action-links a.approve:hover:visited,
.btn-info:visited,
.comment-action-links a.ham:visited,
.btn-info:hover:visited,
.comment-action-links a.ham:hover:visited,
.btn-inverse:visited,
.btn-inverse:hover:visited {
  color: #fff !important;
}

/* line 135, ../../themes/module_bootstrap/lib/_buttons.scss */
.btn-primary.active, .active.comment-reply-link,
.btn-warning.active,
.comment-action-links a.active.spam,
.btn-danger.active,
.comment-action-links a.active.delete,
.btn-success.active,
.comment-action-links a.active.approve,
.btn-info.active,
.comment-action-links a.active.ham,
.btn-inverse.active {
  color: rgba(255, 255, 255, 0.75);
}
/* line 142, ../../themes/module_bootstrap/lib/_buttons.scss */
.btn-primary.active:visited, .active.comment-reply-link:visited,
.btn-warning.active:visited,
.comment-action-links a.active.spam:visited,
.btn-danger.active:visited,
.comment-action-links a.active.delete:visited,
.btn-success.active:visited,
.comment-action-links a.active.approve:visited,
.btn-info.active:visited,
.comment-action-links a.active.ham:visited,
.btn-inverse.active:visited {
  color: rgba(255, 255, 255, 0.75);
}

/* line 149, ../../themes/module_bootstrap/lib/_buttons.scss */
.btn {
  border-color: #ccc;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
}

/* line 154, ../../themes/module_bootstrap/lib/_buttons.scss */
.btn-primary, .comment-reply-link {
  background-color: #800073;
  background-image: -ms-linear-gradient(top, #800080, #800060);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#800080), to(#800060));
  background-image: -webkit-linear-gradient(top, #800080, #800060);
  background-image: -o-linear-gradient(top, #800080, #800060);
  background-image: -moz-linear-gradient(top, #800080, #800060);
  background-image: linear-gradient(top, #800080, #800060);
  background-repeat: repeat-x;
  border-color: #800060 #800060 #340027;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  *background-color: #800060;
  /* Darken IE7 buttons by default so they stand out more given they won't have borders */
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}
/* line 397, ../../themes/default/scss/bootstrap_config/custom/_mixins.scss */
#IE8 .btn-primary, #IE8 .comment-reply-link {
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF800080', endColorstr='#FF800060', GradientType=0);
}
/* line 479, ../../themes/default/scss/bootstrap_config/custom/_mixins.scss */
.btn-primary:hover, .comment-reply-link:hover, .btn-primary:active, .comment-reply-link:active, .btn-primary.active, .active.comment-reply-link, .btn-primary.disabled, .disabled.comment-reply-link, .btn-primary[disabled], [disabled].comment-reply-link {
  background-color: #800060;
  *background-color: #67004d;
}
/* line 485, ../../themes/default/scss/bootstrap_config/custom/_mixins.scss */
.btn-primary:active, .comment-reply-link:active, .btn-primary.active, .active.comment-reply-link {
  background-color: #4d003a \9;
}

/* line 158, ../../themes/module_bootstrap/lib/_buttons.scss */
.btn-warning, .comment-action-links a.spam {
  background-color: #dc6400;
  background-image: -ms-linear-gradient(top, #dc6400, #dc6400);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#dc6400), to(#dc6400));
  background-image: -webkit-linear-gradient(top, #dc6400, #dc6400);
  background-image: -o-linear-gradient(top, #dc6400, #dc6400);
  background-image: -moz-linear-gradient(top, #dc6400, #dc6400);
  background-image: linear-gradient(top, #dc6400, #dc6400);
  background-repeat: repeat-x;
  border-color: #dc6400 #dc6400 #8f4100;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  *background-color: #dc6400;
  /* Darken IE7 buttons by default so they stand out more given they won't have borders */
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}
/* line 397, ../../themes/default/scss/bootstrap_config/custom/_mixins.scss */
#IE8 .btn-warning, #IE8 .comment-action-links a.spam, .comment-action-links #IE8 a.spam {
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFDC6400', endColorstr='#FFDC6400', GradientType=0);
}
/* line 479, ../../themes/default/scss/bootstrap_config/custom/_mixins.scss */
.btn-warning:hover, .comment-action-links a.spam:hover, .btn-warning:active, .comment-action-links a.spam:active, .btn-warning.active, .comment-action-links a.active.spam, .btn-warning.disabled, .comment-action-links a.disabled.spam, .btn-warning[disabled], .comment-action-links a[disabled].spam {
  background-color: #dc6400;
  *background-color: #c25800;
}
/* line 485, ../../themes/default/scss/bootstrap_config/custom/_mixins.scss */
.btn-warning:active, .comment-action-links a.spam:active, .btn-warning.active, .comment-action-links a.active.spam {
  background-color: #a94d00 \9;
}

/* line 162, ../../themes/module_bootstrap/lib/_buttons.scss */
.btn-danger, .comment-action-links a.delete {
  background-color: #ee5f5b;
  background-image: -ms-linear-gradient(top, #ee5f5b, #ee5f5b);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ee5f5b), to(#ee5f5b));
  background-image: -webkit-linear-gradient(top, #ee5f5b, #ee5f5b);
  background-image: -o-linear-gradient(top, #ee5f5b, #ee5f5b);
  background-image: -moz-linear-gradient(top, #ee5f5b, #ee5f5b);
  background-image: linear-gradient(top, #ee5f5b, #ee5f5b);
  background-repeat: repeat-x;
  border-color: #ee5f5b #ee5f5b #e51d18;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  *background-color: #ee5f5b;
  /* Darken IE7 buttons by default so they stand out more given they won't have borders */
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}
/* line 397, ../../themes/default/scss/bootstrap_config/custom/_mixins.scss */
#IE8 .btn-danger, #IE8 .comment-action-links a.delete, .comment-action-links #IE8 a.delete {
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFEE5F5B', endColorstr='#FFEE5F5B', GradientType=0);
}
/* line 479, ../../themes/default/scss/bootstrap_config/custom/_mixins.scss */
.btn-danger:hover, .comment-action-links a.delete:hover, .btn-danger:active, .comment-action-links a.delete:active, .btn-danger.active, .comment-action-links a.active.delete, .btn-danger.disabled, .comment-action-links a.disabled.delete, .btn-danger[disabled], .comment-action-links a[disabled].delete {
  background-color: #ee5f5b;
  *background-color: #ec4844;
}
/* line 485, ../../themes/default/scss/bootstrap_config/custom/_mixins.scss */
.btn-danger:active, .comment-action-links a.delete:active, .btn-danger.active, .comment-action-links a.active.delete {
  background-color: #e9322d \9;
}

/* line 166, ../../themes/module_bootstrap/lib/_buttons.scss */
.btn-success, .comment-action-links a.approve {
  background-color: #62c462;
  background-image: -ms-linear-gradient(top, #62c462, #62c462);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#62c462), to(#62c462));
  background-image: -webkit-linear-gradient(top, #62c462, #62c462);
  background-image: -o-linear-gradient(top, #62c462, #62c462);
  background-image: -moz-linear-gradient(top, #62c462, #62c462);
  background-image: linear-gradient(top, #62c462, #62c462);
  background-repeat: repeat-x;
  border-color: #62c462 #62c462 #3b9e3b;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  *background-color: #62c462;
  /* Darken IE7 buttons by default so they stand out more given they won't have borders */
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}
/* line 397, ../../themes/default/scss/bootstrap_config/custom/_mixins.scss */
#IE8 .btn-success, #IE8 .comment-action-links a.approve, .comment-action-links #IE8 a.approve {
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF62C462', endColorstr='#FF62C462', GradientType=0);
}
/* line 479, ../../themes/default/scss/bootstrap_config/custom/_mixins.scss */
.btn-success:hover, .comment-action-links a.approve:hover, .btn-success:active, .comment-action-links a.approve:active, .btn-success.active, .comment-action-links a.active.approve, .btn-success.disabled, .comment-action-links a.disabled.approve, .btn-success[disabled], .comment-action-links a[disabled].approve {
  background-color: #62c462;
  *background-color: #4fbd4f;
}
/* line 485, ../../themes/default/scss/bootstrap_config/custom/_mixins.scss */
.btn-success:active, .comment-action-links a.approve:active, .btn-success.active, .comment-action-links a.active.approve {
  background-color: #42b142 \9;
}

/* line 170, ../../themes/module_bootstrap/lib/_buttons.scss */
.btn-info, .comment-action-links a.ham {
  background-color: #5bc0de;
  background-image: -ms-linear-gradient(top, #5bc0de, #5bc0de);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#5bc0de), to(#5bc0de));
  background-image: -webkit-linear-gradient(top, #5bc0de, #5bc0de);
  background-image: -o-linear-gradient(top, #5bc0de, #5bc0de);
  background-image: -moz-linear-gradient(top, #5bc0de, #5bc0de);
  background-image: linear-gradient(top, #5bc0de, #5bc0de);
  background-repeat: repeat-x;
  border-color: #5bc0de #5bc0de #28a1c5;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  *background-color: #5bc0de;
  /* Darken IE7 buttons by default so they stand out more given they won't have borders */
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}
/* line 397, ../../themes/default/scss/bootstrap_config/custom/_mixins.scss */
#IE8 .btn-info, #IE8 .comment-action-links a.ham, .comment-action-links #IE8 a.ham {
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF5BC0DE', endColorstr='#FF5BC0DE', GradientType=0);
}
/* line 479, ../../themes/default/scss/bootstrap_config/custom/_mixins.scss */
.btn-info:hover, .comment-action-links a.ham:hover, .btn-info:active, .comment-action-links a.ham:active, .btn-info.active, .comment-action-links a.active.ham, .btn-info.disabled, .comment-action-links a.disabled.ham, .btn-info[disabled], .comment-action-links a[disabled].ham {
  background-color: #5bc0de;
  *background-color: #46b8da;
}
/* line 485, ../../themes/default/scss/bootstrap_config/custom/_mixins.scss */
.btn-info:active, .comment-action-links a.ham:active, .btn-info.active, .comment-action-links a.active.ham {
  background-color: #31b0d5 \9;
}

/* line 174, ../../themes/module_bootstrap/lib/_buttons.scss */
.btn-inverse {
  background-color: #555555;
  background-image: -ms-linear-gradient(top, #555, #555);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#555), to(#555));
  background-image: -webkit-linear-gradient(top, #555, #555);
  background-image: -o-linear-gradient(top, #555, #555);
  background-image: -moz-linear-gradient(top, #555, #555);
  background-image: linear-gradient(top, #555, #555);
  background-repeat: repeat-x;
  border-color: #555 #555 #2f2f2f;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  *background-color: #555;
  /* Darken IE7 buttons by default so they stand out more given they won't have borders */
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}
/* line 397, ../../themes/default/scss/bootstrap_config/custom/_mixins.scss */
#IE8 .btn-inverse {
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF555555', endColorstr='#FF555555', GradientType=0);
}
/* line 479, ../../themes/default/scss/bootstrap_config/custom/_mixins.scss */
.btn-inverse:hover, .btn-inverse:active, .btn-inverse.active, .btn-inverse.disabled, .btn-inverse[disabled] {
  background-color: #555;
  *background-color: #484848;
}
/* line 485, ../../themes/default/scss/bootstrap_config/custom/_mixins.scss */
.btn-inverse:active, .btn-inverse.active {
  background-color: #3b3b3b \9;
}

/* line 182, ../../themes/module_bootstrap/lib/_buttons.scss */
button.btn,
input[type="submit"].btn {
  *padding-top: 2px;
  *padding-bottom: 2px;
}
/* line 186, ../../themes/module_bootstrap/lib/_buttons.scss */
button.btn::-moz-focus-inner,
input[type="submit"].btn::-moz-focus-inner {
  padding: 0;
  border: 0;
}
/* line 194, ../../themes/module_bootstrap/lib/_buttons.scss */
button.btn.btn-large,
input[type="submit"].btn.btn-large {
  *padding-top: 7px;
  *padding-bottom: 7px;
}
/* line 198, ../../themes/module_bootstrap/lib/_buttons.scss */
button.btn.btn-small, button.btn.comment-reply-link,
input[type="submit"].btn.btn-small,
input[type="submit"].btn.comment-reply-link {
  *padding-top: 3px;
  *padding-bottom: 3px;
}
/* line 202, ../../themes/module_bootstrap/lib/_buttons.scss */
button.btn.btn-mini,
input[type="submit"].btn.btn-mini {
  *padding-top: 1px;
  *padding-bottom: 1px;
}

/* line 34, ../../themes/module_bootstrap/lib/_mixins.scss */
.clearfix {
  *zoom: 1;
}
/* line 24, ../../themes/module_bootstrap/lib/_mixins.scss */
.clearfix:before, .clearfix:after {
  display: table;
  content: "";
}
/* line 29, ../../themes/module_bootstrap/lib/_mixins.scss */
.clearfix:after {
  clear: both;
}

/* line 126, ../../themes/module_bootstrap/lib/_mixins.scss */
.hide-text {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}

/* line 307, ../../themes/module_bootstrap/lib/_mixins.scss */
.input-block-level {
  display: block;
  width: 100%;
  min-height: 28px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

/*!
 * Bootstrap v2.0.3
 *
 * Copyright 2012 Twitter, Inc
 * Licensed under the Apache License v2.0
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Designed and built with all the love in the world @twitter by @mdo and @fat.
 */
/* line 34, ../../themes/module_bootstrap/lib/_mixins.scss */
.clearfix {
  *zoom: 1;
}
/* line 24, ../../themes/module_bootstrap/lib/_mixins.scss */
.clearfix:before, .clearfix:after {
  display: table;
  content: "";
}
/* line 29, ../../themes/module_bootstrap/lib/_mixins.scss */
.clearfix:after {
  clear: both;
}

/* line 126, ../../themes/module_bootstrap/lib/_mixins.scss */
.hide-text {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}

/* line 307, ../../themes/module_bootstrap/lib/_mixins.scss */
.input-block-level {
  display: block;
  width: 100%;
  min-height: 28px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 12, ../scss/comments.scss */
.comments-holder-container {
  clear: both;
}
/* line 15, ../scss/comments.scss */
.comments-holder-container .field {
  clear: left;
}
/* line 19, ../scss/comments.scss */
.comments-holder-container .num,
.comments-holder-container .author {
  font-size: 1.3em;
}
/* line 24, ../scss/comments.scss */
.comments-holder-container .num {
  color: #999;
  margin-right: 5px;
}
/* line 29, ../scss/comments.scss */
.comments-holder-container .num-total {
  line-height: 40px;
  margin-bottom: 0;
}
/* line 34, ../scss/comments.scss */
.comments-holder-container ol.comments-list {
  margin: 0;
}
/* line 38, ../scss/comments.scss */
.comments-holder-container .comment-count {
  margin: 15px 0;
}
/* line 43, ../scss/comments.scss */
.comments-holder-container .commenting-area {
  margin-top: 50px;
}
/* line 46, ../scss/comments.scss */
.comments-holder-container .commenting-area label.left {
  font-weight: normal;
}
/* line 51, ../scss/comments.scss */
.comments-holder-container .commenting-rss-feed {
  margin-top: 4em;
  text-align: right;
}
/* line 55, ../scss/comments.scss */
.comments-holder-container .commenting-rss-feed .action-links {
  margin: 20px 0 10px;
}
/* line 58, ../scss/comments.scss */
.comments-holder-container .commenting-rss-feed .action-links li {
  display: inline;
  list-style-type: none;
  margin-left: 20px;
}
/* line 63, ../scss/comments.scss */
.comments-holder-container .commenting-rss-feed .action-links li:first-child {
  margin-left: 0;
}
/* line 67, ../scss/comments.scss */
.comments-holder-container .commenting-rss-feed .action-links li.comment-reply-action {
  float: right;
}
/* line 72, ../scss/comments.scss */
.comments-holder-container .commenting-rss-feed .action-links a {
  background-image: none;
}
/* line 76, ../scss/comments.scss */
.comments-holder-container .commenting-rss-feed .action-links a::first-letter {
  text-transform: capitalize;
}
/* line 87, ../scss/comments.scss */
.comments-holder-container .no-comments-yet {
  display: inline-block;
  margin-top: 10px;
}

/* line 94, ../scss/comments.scss */
.comment {
  clear: both;
  list-style-type: none;
  overflow: hidden;
  padding: 20px 0 10px;
  position: relative;
}
/* line 102, ../scss/comments.scss */
.comment.author-comment:after {
  content: 'Author';
  float: right;
  position: absolute;
  top: 1.5em;
  right: 0.5em;
  font-size: 1em;
  font-weight: bold;
  color: #005B95;
}
/* line 113, ../scss/comments.scss */
.comment.author-comment > .comment-text {
  border: 1px solid #005B95;
}
/* line 120, ../scss/comments.scss */
.comment.spam .comment-text {
  border: 1px dashed #8F4100;
}
/* line 125, ../scss/comments.scss */
.comment .comment-text {
  background-color: #fff;
  border: 1px solid #ddd;
  box-shadow: none;
  margin: 0;
  padding: 0 15% 0 20px;
  white-space: pre;
  white-space: pre-wrap;
  white-space: pre-line;
  word-wrap: break-word;
}
/* line 136, ../scss/comments.scss */
.comment .comment-text p:last-child {
  margin-bottom: 0;
}
/* line 141, ../scss/comments.scss */
.comment .date {
  font-size: 16px;
}
/* line 144, ../scss/comments.scss */
.comment .date:before {
  content: '\0000a0\0000a0\0000a0\0000a0';
}
/* line 150, ../scss/comments.scss */
.comment.unmoderated > .comment-text {
  border: 1px solid #ffc40d;
}
/* line 155, ../scss/comments.scss */
.comment .info {
  margin-bottom: 10px;
}
/* line 159, ../scss/comments.scss */
.comment.spam .comment {
  border: 1px dashed #8F4100;
  color: #8F4100;
  border-radius: 4px;
  padding: 2.5em 1em 1em;
}
/* line 166, ../scss/comments.scss */
.comment .comment-replies-container {
  clear: both;
  padding-left: 10px;
  margin: 80px 0 0 0;
  border-left: 1px dashed #999;
}
/* line 172, ../scss/comments.scss */
.comment .comment-replies-container .comment-reply-form-holder {
  padding: 0 10px;
}
/* line 175, ../scss/comments.scss */
.comment .comment-replies-container .comment-replies-holder {
  padding: 0 0 0 10px;
}

/* line 181, ../scss/comments.scss */
.comments-list.root-level {
  margin-left: 0;
}

/* line 185, ../scss/comments.scss */
.comment-reply-link {
  float: right;
}

/* line 191, ../scss/comments.scss */
.comment-moderation-options {
  float: left;
}

/* line 195, ../scss/comments.scss */
.comment-action-links {
  margin: 20px 0 10px;
}
/* line 198, ../scss/comments.scss */
.comment-action-links a {
  background-image: none;
}
/* line 202, ../scss/comments.scss */
.comment-action-links a::first-letter {
  text-transform: capitalize;
}
/* line 211, ../scss/comments.scss */
.comment-action-links a.approve {
  background: #005B95;
}
/* line 216, ../scss/comments.scss */
.comment-action-links a.delete {
  background: #EE0004;
}
/* line 221, ../scss/comments.scss */
.comment-action-links a.ham {
  background: #005B95;
}
/* line 226, ../scss/comments.scss */
.comment-action-links a.spam {
  background: #8F4100;
}

/* line 232, ../scss/comments.scss */
.commenting-rss-feed ul {
  list-style: none;
}
